#### 데이터 전처리 및 시각화

전처리

데이터프레임 병합

In [1]:
# import
import pandas as pd
import numpy as np

In [2]:
# 스타벅스 매장리스트
sbuck_df = pd.read_excel('./seoul_starbuks.xlsx', header=0)
sbuck_df

         매장명         위도          경도       매장타입                         주소
0  금정남산동DT    35.262466  129.091353  generalDT  부산광역시 금정구 중앙대로 1989 (남산동)

In [7]:
sbuck_df['주소'][0].split()[1]

'금정구'

In [8]:
gu_list = []
for item in sbuck_df['주소']:
    gu = item.split()[1]
    gu_list.append(gu)

sbuck_df['구'] = gu_list
sbuck_df.head(1)

         매장명         위도          경도       매장타입                         주소    구
0  금정남산동DT    35.262466  129.091353  generalDT  부산광역시 금정구 중앙대로 1989 (남산동)  금정구

#### 서울시 행정구역별 위경도 전처리

- 대한민국 행정구역 위경도 엑셀파일에서 서울만 필터링

In [9]:
seoul_loc_dc = pd.read_excel('./대한민국_행정구역_위경도.xlsx')
seoul_loc_dc

      docity  do   city   longitude   latitude
0      강원강릉시  강원    강릉시  128.878497  37.749136
1      강원고성군  강원    고성군  128.470164  38.377961
2      강원동해시  강원    동해시  129.116633  37.521931
3      강원삼척시  강원    삼척시  129.167489  37.447086
4      강원속초시  강원    속초시  128.594167  38.204275
..       ...  ..    ...         ...        ...
290    충청충주시  충청    충주시  127.928144  36.988181
291    충청태안군  충청    태안군  126.299975  36.742667
292  충청한누리대로  충청  한누리대로  127.289926  36.485450
293    충청홍성군  충청    홍성군  126.662908  36.598361
294    충청대전시  충청    대전시  127.384862  36.350630

[295 rows x 5 columns]

In [10]:
seoul_loc_dc = seoul_loc_dc[seoul_loc_dc['do'] == '서울']
seoul_loc_dc.head()

    docity  do city   longitude   latitude
138  서울강남구  서울  강남구  127.049556  37.514575
139  서울강동구  서울  강동구  127.125864  37.527367
140  서울강북구  서울  강북구  127.027719  37.636956
141  서울강서구  서울  강서구  126.851675  37.548156
142  서울관악구  서울  관악구  126.953844  37.475386

In [11]:
seoul_loc_dc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 138 to 162
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   docity     25 non-null     object
 1   do         25 non-null     object
 2   city       25 non-null     object
 3   longitude  25 non-null     float64
 4   latitude   25 non-null     float64
dtypes: float64(2), object(3)
memory usage: 1.2+ KB

In [12]:
seoul_loc_dc.to_excel('./seoul_gu_info.xlsx', index=False)

#### 서울시 구별 스타번스 매장수 구하기

In [15]:
sbuck_gu_counts= sbuck_df.pivot_table(index='구',
                     values='매장명',
                     aggfunc='count').rename(columns={'매장명': '스타벅스_매장수'})
sbuck_gu_counts.head()

     스타벅스_매장수
구
금정구         1

In [ ]:
# seoul_gu_df 수정
seoul_gu_df[['do','city','latitude','longitude']]
colums = ({'do':'도','city':'구', 'latitude':'위도', 'longitude':'경도'})

In [ ]:
seoul_gu_df = seoul_df_gu[['도',]]

#### 데이터 시각화

In [16]:
sbuck_df.tail()

         매장명         위도          경도       매장타입                         주소    구
0  금정남산동DT    35.262466  129.091353  generalDT  부산광역시 금정구 중앙대로 1989 (남산동)  금정구

In [ ]:
sbuck_map = folium.Map(location=)

In [ ]:
sbuck_map2 = folium.Map(location=[37.550823, 126.989502])

In [ ]:
## 시군구 경계 표시
sgg_geojson_path = './seou_geo_simple.json'
seoul_sgg_geo = json.load(open(sgg_geojson_path, encoding='utf-8'))

sbuck_map3 = folium.Map(location[37.550823, 126.989502], titls='Stamen Toner', zoom_start=11)

folium.GeoJson(seoul_sgg_geo, Name='seoul행정구역').add_to(stuck_map3)

sbuck_map3

In [ ]:
sbuck_mean = seoul_sgg_start['스타벅스_매장수'].mean()
sbuck_mean